{% load static %}
<section class="content-section bg-white text-white text-center" id="services" style="background-color: #f4f4f4">
    <div class="container px-4 px-lg-5">
        <div class="content-section-heading">
            {% if LANGUAGE_CODE == 'ar' %}
                <h3 class="text-secondary mb-0">العضوية</h3>
            {% else %}
                <h3 class="text-secondary mb-0">Membership</h3>
            {% endif %}

        </div>
        {% if LANGUAGE_CODE == 'ar' %}
            <div class="row gx-4 gx-lg-5 text-center justify-content-center pt-2">
                <div class="col-lg-6 col-md-6 mb-5 mb-lg-0">
                    <a style="text-decoration: none; cursor: pointer">
                        <span class="service-icon  mx-auto mb-3 d-flex justify-content-center"><img
                            src="{% static 'assets/img/book-logo.jpeg' %}"/></span>
                    <h4 class="text-black"><strong>عضوية دار النشر</strong></h4>
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 mb-5 mb-lg-0">
                                        <a style="text-decoration: none; cursor: pointer">
                    <span class="service-icon  mx-auto mb-3 d-flex justify-content-center"><img
                            src="{% static 'assets/img/ae-logo.jpeg' %}"/></span>
                    <h4 class="text-black"><strong>عضوية المترجم </strong></h4>
                                        </a>
                </div>

            </div>

        {% else %}
            <div class="row gx-4 gx-lg-5 text-center justify-content-center pt-2">
                <div class="col-lg-6 col-md-6 mb-5 mb-lg-0">
                                        <a style="text-decoration: none; cursor: pointer">
                    <span class="service-icon  mx-auto mb-3 d-flex justify-content-center"><img
                            src="{% static 'assets/img/book-logo.jpeg' %}"/></span>
                    <h4 class="text-black"><strong>Publishing house membership</strong></h4>
                                        </a>
                </div>
                <div class="col-lg-6 col-md-6 mb-5 mb-lg-0">
                                        <a style="text-decoration: none; cursor: pointer">
                    <span class="service-icon  mx-auto mb-3 d-flex justify-content-center"><img
                            src="{% static 'assets/img/ae-logo.jpeg' %}"/></span>
                    <h4 class="text-black"><strong>Translator membership </strong></h4>
                                        </a>
                </div>

            </div>

        {% endif %}
    </div>
</section>