{% load static %}

 <section id="features" class="features">
      <div class="container">
                          {% if LANGUAGE_CODE == 'ar' %}
                                    <div class="row">
          <div class="col-lg-6 mt-2 mb-tg-0 order-2 order-lg-1">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item" data-aos="fade-up">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
                  <h4>التنوع</h4>
                  <p>دور نشر عالمية ومحلية </p>
                </a>
              </li>
              <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="100">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
                  <h4>عقود موثقة</h4>
                  <p>عقود إلكترونية</p>
                </a>
              </li>
              <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="200">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
                  <h4>النشر والتوزيع</h4>
                  <p>   النشر والتوزيع في المحافل العربية والعالمية</p>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <figure>
                  <img src="{% static 'assets/img/tan1.jpeg' %}" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-2">
                <figure>
                  <img src="{% static 'assets/img/contract.jpeg'%}" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-3">
                <figure>
                  <img src="{% static 'assets/img/tan3.jpeg'%}" alt="" class="img-fluid">
                </figure>
              </div>
            </div>
          </div>
        </div>

{% else %}
  <div class="row ">
          <div class="col-lg-6 mt-2 mb-tg-0 order-2 order-lg-1">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item" data-aos="fade-up">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
                  <h4>Diversity </h4>
                  <p>International and local publishing houses  </p>
                </a>
              </li>
              <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="100">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
                  <h4>documented contracts </h4>
                  <p> electronic contracts </p>
                </a>
              </li>
              <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="200">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
                  <h4>publication and distribution </h4>
                  <p> publishing and distribution in Arab and international forums </p>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <figure>
                  <img src="{% static 'assets/img/tan1.jpeg' %}" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-2">
                <figure>
                  <img src="{% static 'assets/img/contract.jpeg'%}" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-3">
                <figure>
                  <img src="{% static 'assets/img/tan3.jpeg'%}" alt="" class="img-fluid">
                </figure>
              </div>
            </div>
          </div>
        </div>
          {% endif %}

      </div>
    </section>