<section id="services" class="services section-bg">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      {% if LANGUAGE_CODE == 'ar' %}
      <h2>{{ content.services_heading_ar|safe }}</h2>
      <p>{{ content.services_sub_heading_ar |safe }}</p>
      {% else %}
      <h2>{{ content.services_heading_en|safe |capfirst }}</h2>
      <p>{{ content.services_sub_heading_en |safe | capfirst }}</p>
      {% endif %}
    </div>

    <div class="row justify-content-center">
      {% if LANGUAGE_CODE == 'ar' %}
      <div
        class="col-md-6 col-lg-2 justify-content-center d-flex align-items-stretch mb-5 mb-lg-0"
        data-aos="zoom-in"
      >
        <div class="icon-box icon-box-pink">
          <div class="icon">
            <img src="{{ content.first_services_logo.url }}" class="logo" />
          </div>
          <h4 class="title">
            <a href="{% url 'request-translate' %}"
              >{{ content.first_section_Service_title_ar|safe }}</a
            >
          </h4>
          <p class="description">{{ content.first_sub_heading_ar|safe }}</p>
        </div>
      </div>

      <div
        class="col-md-6 col-lg-2 d-flex justify-content-center align-items-stretch mb-5 mb-lg-0"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <div class="icon-box icon-box-cyan">
          <div class="icon">
            <img src="{{ content.second_services_logo.url }}" class="logo" />
          </div>
          <h4 class="title">
            <a href="{% url 'home-advertise' %}"
              >{{ content.second_section_Service_title_ar|safe }}</a
            >
          </h4>
          <p class="description">{{ content.second_sub_heading_ar|safe }}</p>
        </div>
      </div>

      <div
        class="col-md-4 col-lg-2 d-flex justify-content-center align-items-stretch mb-5 mb-lg-0"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <div class="icon-box icon-box-green">
          <div class="icon">
            <img src="{{ content.third_services_logo.url }}" class="logo" />
          </div>
          <h4 class="title">
            <a href="">{{ content.third_section_Service_title_ar|safe }}</a>
          </h4>
          <p class="description">{{ content.third_sub_heading_ar|safe }}</p>
        </div>
      </div>

      <div
        class="col-md-4 col-lg-2 justify-content-center d-flex align-items-stretch mb-5 mb-lg-0"
        data-aos="zoom-in"
        data-aos-delay="300"
      >
        <div class="icon-box icon-box-blue">
          <div class="icon">
            <img src="{{ content.fourth_services_logo.url }}" class="logo" />
          </div>
          <h4 class="title">
            <a href="{% url 'request-design' %}"
              >{{ content.fourth_section_Service_title_ar|safe }}</a
            >
          </h4>
          <p class="description">{{ content.fourth_sub_heading_ar|safe }}</p>
        </div>
      </div>
      <div
        class="col-md-4 col-lg-2 justify-content-center d-flex align-items-stretch mb-5 mb-lg-0"
        data-aos="zoom-in"
        data-aos-delay="300"
      >
        <div class="icon-box icon-box-blue">
          <div class="icon">
            <img src="{{ content.substraction_logo.url }}" class="logo" />
          </div>
          <h4 class="title">
            <a href="{% url 'request-subtitle' %}"
              >{{ content.substraction_heading_ar|safe }}</a
            >
          </h4>
          <p class="description">{{ content.sub_subsraction_ar|safe }}</p>
        </div>
      </div>

      {% else %}
      <div
        class="col-md-6 col-lg-2 justify-content-center d-flex align-items-stretch mb-5 mb-lg-0"
        data-aos="zoom-in"
      >
        <div class="icon-box icon-box-pink">
          <div class="icon">
            <img src="{{ content.first_services_logo.url }}" class="logo" />
          </div>
          <h4 class="title">
            <a href="{% url 'request-translate' %}"
              >{{ content.first_section_Service_title_en|safe|capfirst }}</a
            >
          </h4>
          <p class="description">
            {{ content.first_sub_heading_en|safe |capfirst }}
          </p>
        </div>
      </div>

      <div
        class="col-md-6 col-lg-2 justify-content-center d-flex align-items-stretch mb-5 mb-lg-0"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <div class="icon-box icon-box-cyan">
          <div class="icon">
            <img src="{{ content.second_services_logo.url }}" class="logo" />
          </div>
          <h4 class="title">
            <a href="{% url 'home-advertise' %}"
              >{{ content.second_section_Service_title_en|safe|capfirst }}</a
            >
          </h4>
          <p class="description">
            {{ content.second_sub_heading_en|safe|capfirst }}
          </p>
        </div>
      </div>

      <div
        class="col-md-4 col-lg-2 justify-content-center d-flex align-items-stretch mb-5 mb-lg-0"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <div class="icon-box icon-box-green">
          <div class="icon">
            <img src="{{ content.third_services_logo.url }}" class="logo" />
          </div>
          <h4 class="title">
            <a href=""
              >{{ content.third_section_Service_title_en|capfirst|safe }}</a
            >
          </h4>
          <p class="description">
            {{ content.third_sub_heading_en|capfirst|safe }}
          </p>
        </div>
      </div>

      <div
        class="col-md-4 col-lg-2 justify-content-center d-flex align-items-stretch mb-5 mb-lg-0"
        data-aos="zoom-in"
        data-aos-delay="300"
      >
        <div class="icon-box icon-box-blue">
          <div class="icon">
            <img src="{{ content.fourth_services_logo.url }}" class="logo" />
          </div>
          <h4 class="title">
            <a href="{% url 'request-design' %}"
              >{{ content.fourth_section_Service_title_en|capfirst|safe }}</a
            >
          </h4>
          <p class="description">
            {{ content.fourth_sub_heading_en|capfirst|safe }}
          </p>
        </div>
      </div>
      <div
        class="col-md-4 col-lg-2 justify-content-center d-flex align-items-stretch mb-5 mb-lg-0"
        data-aos="zoom-in"
        data-aos-delay="300"
      >
        <div class="icon-box icon-box-blue">
          <div class="icon">
            <img src="{{ content.substraction_logo.url }}" class="logo" />
          </div>
          <h4 class="title">
            <a href="{% url 'request-subtitle' %}"
              >{{ content.substraction_heading_en|capfirst|safe }}</a
            >
          </h4>
          <p class="description">
            {{ content.sub_subsraction_en|capfirst|safe }}
          </p>
        </div>
      </div>

      {% endif %}
    </div>
  </div>
</section>
