{% load static %}
<section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
                          {% if LANGUAGE_CODE == 'ar' %}
            <h2>العضوية</h2>
            {% else %}
          <h2>Membership</h2>

            {% endif %}
        </div>

        <div class="row justify-content-around">
                          {% if LANGUAGE_CODE == 'ar' %}
          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in">
              <div class="pic"><img src="{% static 'assets/img/translator.jpeg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <a href="{% url 'person-page' %}">  <h4>عضوية المترجم </h4> </a>
              </div>
            </div>
          </div>
                                    <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in">
              <div class="pic"><img src="{% static 'assets/img/publisher.jpeg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <a href="{% url 'found-page' %}">
                <h4>عضوية دار نشر </h4>
                </a>
              </div>
            </div>
          </div>

     {% else %}
 <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in">
              <div class="pic"><img src="{% static 'assets/img/translator.jpeg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <a href="{% url 'person-page' %}">
                <h4>Translator  member </h4>
                </a>
              </div>
            </div>
          </div>
                                    <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in">
              <div class="pic"><img src="{% static 'assets/img/publisher.jpeg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <a href="{% url 'found-page' %}">
                <h4>publishing house member  </h4>
                </a>
              </div>
            </div>
          </div>
            {% endif %}


        </div>

      </div>
    </section>