<section class="content-section bg-dark" id="about">
            <div class="container px-4 px-lg-5 text-center">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-10">
                                                             {% if LANGUAGE_CODE == 'ar' %}
                        <h2 class="text-white">{{ content.heading_ar|safe }}</h2>
                        <h5 class="text-white">
                           {{ content.sub_heading_ar|safe }}
                        </h5>
                        <a class="btn btn-light text-black btn-xl" href="{% url 'whous-page' %}">من نحن</a>
                        {% else %}
                 <h2 class="text-white">{{ content.heading_en|safe|capfirst }}</h2>
                        <h5 class="text-white">
                           {{ content.sub_heading_en|safe|capfirst }}
                        </h5>
                        <a class="btn btn-light btn-xl text-black" href="{% url 'whous-page' %}">Who Us</a>

                        {% endif %}
                    </div>
                </div>
            </div>
        </section>