{% load static %}
<ul class="sidebar-nav">
  <li class="sidebar-nav-item">
    <a class="nav-link" href="{% url 'all-msg' %}">
      <div
        class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center ms-2 d-flex align-items-center justify-content-center"
      >
        <img
          class="img-fluid"
          src="{% static 'assets/img/icons/notification.png' %}"
        />
      </div>
      {% if LANGUAGE_CODE == 'ar' %}
      <span class="nav-link-text me-1"> الأشعارات</span>
      {% else %}
      <span class="nav-link-text me-1"> Notifications </span>
      {% endif %}
    </a>
  </li>
  <li class="sidebar-nav-item">
    <a class="nav-link" href="{% url 'user-details' request.user.pk  %}">
      <div
        class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center ms-2 d-flex align-items-center justify-content-center"
      >
        <img
          class="img-fluid"
          src="{% static 'assets/img/icons/user.png' %}"
        />
      </div>
      {% if LANGUAGE_CODE == 'ar' %}
      <span class="nav-link-text me-1">الصفحة الشخصية</span>
      {% else %}
      <span class="nav-link-text me-1">Profile </span>

      {% endif %}
    </a>
  </li>
  <li class="sidebar-nav-item">
    <a class="nav-link" href="{% url 'all-designs' %}">
      <div
        class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center ms-2 d-flex align-items-center justify-content-center"
      >
      <img
      src="{% static 'assets/img/icons/open-book.png' %}"
      class="img-fluid"
      alt=""
    />
      </div>
      {% if LANGUAGE_CODE == 'ar' %}
      <span class="nav-link-text me-1"> التصميمات</span>
      {% else %}
      <span class="nav-link-text me-1">Designs </span>
      {% endif %}
    </a>
  </li>
  <li class="sidebar-nav-item">
    <a class="nav-link" href="{% url 'all-desginer-requests' %}">
      <div
        class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center ms-2 d-flex align-items-center justify-content-center"
      >
        <img
          class="img-fluid"
          src="{% static 'assets/img/icons/open-book.png' %}"
        />
      </div>
      {% if LANGUAGE_CODE == 'ar' %}
      <span class="nav-link-text me-1"> طلبات مصمم</span>
      {% else %}
      <span class="nav-link-text me-1"> Designer Requests </span>
      {% endif %}
    </a>
  </li>
  <li class="sidebar-nav-item">
    <a class="nav-link" href="{% url 'all-bookcontract-user' %}">
      <div
        class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center ms-2 d-flex align-items-center justify-content-center"
      >
        <img
        src="{% static 'assets/img/icons/agreement.png' %}"
        class="img-fluid"
          alt=""
        />
      </div>
      {% if LANGUAGE_CODE == 'ar' %}
      <span class="nav-link-text me-1">العقود</span>

      {% else %}
      <span class="nav-link-text me-1">Contracts</span>

      {% endif %}
    </a>
  </li>
  <li class="sidebar-nav-item">
    <a class="nav-link" href="{% url 'all-vouchers' %}">
      <div
        class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center ms-2 d-flex align-items-center justify-content-center"
      >
        <img
          src="{% static 'assets/img/icons/wallet.png' %}"
          class="img-fluid"
          alt=""
        />
      </div>
      {% if LANGUAGE_CODE == 'ar' %}
      <span class="nav-link-text me-1">الفواتير</span>

      {% else %}
      <span class="nav-link-text me-1">Vouchers</span>

      {% endif %}
    </a>
  </li>

  {% include 'partials/_logoutMenu.html' %}

  {% include 'partials/_language.html' %}
</ul>