{% load static %}
{% load i18n %}
<a class="menu-toggle rounded" href="#"><i class="fas fa-bars menu-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand"><a href="{% url 'home-page' %}"><img src="{% static 'assets/img/nashr_logo.png' %}" class="logo"/></a>
        </li>
        {% if LANGUAGE_CODE == 'ar' %}
            <li class="sidebar-nav-item"><a href="{% url 'home-page' %}">الرئيسية</a></li>
            <li class="sidebar-nav-item"><a href="{% url 'about-page' %}">عن ناشر</a></li>
            <li class="sidebar-nav-item"><a href="#services">خدماتنا</a></li>
            <li class="sidebar-nav-item"><a href="{% url 'whous-page' %}">من نحن</a></li>
            <li class="sidebar-nav-item"><a href="#contact">الشروط والأحكام </a></li>
        {% else %}
            <li class="sidebar-nav-item"><a href="{% url 'home-page' %}">Home</a></li>
            <li class="sidebar-nav-item"><a href="{% url 'about-page' %}">About Nashr</a></li>
            <li class="sidebar-nav-item"><a href="#services">Services</a></li>
            <li class="sidebar-nav-item"><a href="{% url 'whous-page' %}">Who us</a></li>
            <li class="sidebar-nav-item"><a href="#contact">Privacy </a></li>
        {% endif %}

        <li>{% include 'partials/_language.html' %}</li>
    </ul>
</nav>