
  <footer id="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
                <i class="text-lg fab fa-cc-visa" style="font-size: 40px;"></i>           
                <i class="text-lg fab fa-cc-mastercard"  style="font-size: 40px;"></i>        
            </div>
          </div>
      <div class="copyright">
        <p class="mb-0 text-secondary">
          ©
                                                                 {% if LANGUAGE_CODE == 'ar' %}
           ناشر للترجمة
           {% else %}
           Nashr For Translation
           {% endif %}
       </p>
      </div>
        </div>
  </footer>