{% load static %}
<ul class="sidebar-nav">
  <li class="sidebar-nav-item">
    <a class="nav-link" href="{% url 'all-msg' %}">
      <div
        class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center ms-2 d-flex align-items-center justify-content-center"
      >
        <img
          class="img-fluid"
          src="{% static 'assets/img/icons/notification.png' %}"
        />
      </div>
      {% if LANGUAGE_CODE == 'ar' %}
      <span class="nav-link-text me-1"> الأشعارات</span>
      {% else %}
      <span class="nav-link-text me-1"> Notifications </span>
      {% endif %}
    </a>
  </li>
  <li class="sidebar-nav-item">
    <a class="nav-link" href="{% url 'found-profile' request.user.pk  %}">
      <div
        class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center ms-2 d-flex align-items-center justify-content-center"
      >
        <img
          class="img-fluid"
          src="{% static 'assets/img/icons/user.png' %}"
        />
      </div>
      {% if LANGUAGE_CODE == 'ar' %}
      <span class="nav-link-text me-1">الصفحة الشخصية</span>
      {% else %}
      <span class="nav-link-text me-1">Profile </span>

      {% endif %}
    </a>
  </li>
  <li class="sidebar-nav-item">
    <a class="nav-link" href="{% url 'all-books-publisher' %}">
      <div
        class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center ms-2 d-flex align-items-center justify-content-center"
      >
        <img
          class="img-fluid"
          src="{% static 'assets/img/icons/open-book.png' %}"
        />
      </div>
      {% if LANGUAGE_CODE == 'ar' %}
      <span class="nav-link-text me-1"> الكتب</span>
      {% else %}
      <span class="nav-link-text me-1">Books </span>
      {% endif %}
    </a>
  </li>

  <li class="sidebar-nav-item">
    <a class="nav-link" href="{% url 'add-needs' %}">
      <div
        class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center ms-2 d-flex align-items-center justify-content-center"
      >
        <img
          src="{% static 'assets/img/icons/followers.png' %}"
          class="img-fluid"
          alt=""
        />
      </div>
      {% if LANGUAGE_CODE == 'ar' %}
      <span class="nav-link-text me-1">متابعة </span>
      {% else %}
      <span class="nav-link-text me-1">Tracking </span>
      {% endif %}
    </a>
  </li>
  <li class="sidebar-nav-item">
    <a class="nav-link" href="{% url 'all-request-books' %}">
      <div
        class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center ms-2 d-flex align-items-center justify-content-center"
      >
        <img
        src="{% static 'assets/img/icons/requested-book.png' %}"
        class="img-fluid"
          alt=""
        />
      </div>
      {% if LANGUAGE_CODE == 'ar' %}
      <span class="nav-link-text me-1">طلبات الكتب </span>

      {% else %}
      <span class="nav-link-text me-1">Book Requests</span>

      {% endif %}
    </a>
  </li>
  <li class="sidebar-nav-item">
    <a class="nav-link" href="{% url 'print-request' %}">
      <div
        class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center ms-2 d-flex align-items-center justify-content-center"
      >
        <img
          src="{% static 'assets/img/icons/printer.png' %}"
          class="img-fluid"
          alt=""
        />
      </div>
      {% if LANGUAGE_CODE == 'ar' %}
      <span class="nav-link-text me-1">الطباعة</span>

      {% else %}
      <span class="nav-link-text me-1">Printer</span>

      {% endif %}
    </a>
  </li>

  <li class="sidebar-nav-item">
    <a class="nav-link" href="{% url 'contract-choices' %}">
      <div
        class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center ms-2 d-flex align-items-center justify-content-center"
      >
        <img
          src="{% static 'assets/img/icons/agreement.png' %}"
          class="img-fluid"
          alt=""
        />
      </div>
      {% if LANGUAGE_CODE == 'ar' %}
      <span class="nav-link-text me-1">العقود</span>

      {% else %}
      <span class="nav-link-text me-1">Contracts</span>

      {% endif %}
    </a>
  </li>
  <li class="sidebar-nav-item">
    <a class="nav-link" href="{% url 'all-vouchers' %}">
      <div
        class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center ms-2 d-flex align-items-center justify-content-center"
      >
        <img
          src="{% static 'assets/img/icons/wallet.png' %}"
          class="img-fluid"
          alt=""
        />
      </div>
      {% if LANGUAGE_CODE == 'ar' %}
      <span class="nav-link-text me-1">الفواتير</span>

      {% else %}
      <span class="nav-link-text me-1">Vouchers</span>
      {% endif %}
    </a>
  </li>
  <li class="sidebar-nav-item">
    <a class="nav-link" href="{% url 'all-books-distrub'  %}">
      <div
        class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center ms-2 d-flex align-items-center justify-content-center"
      >
        <img class="img-fluid" src="{% static 'assets/img/tab-1.jpeg' %}" />
      </div>
      {% if LANGUAGE_CODE == 'ar' %}
      <span class="nav-link-text me-1"> حقوق النشر</span>
      {% else %}
      <span class="nav-link-text me-1"> Publisher Rights </span>

      {% endif %}
    </a>
  </li>
  {% include 'partials/_logoutMenu.html' %}
  {% include 'partials/_Dashlanguage.html' %}
</ul>
