 {% load static %}
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
          <a href="{% url 'home-page' %}"><img src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
                {% if LANGUAGE_CODE == 'ar' %}
                    <li><a class="nav-link scrollto active" href="{% url 'home-page' %}">الرئيسية</a></li>
           <li><a class="nav-link scrollto " href="{% url 'whous-page' %}">من نحن</a></li>
          <li><a class="nav-link scrollto" href="{% url 'services-page' %}">خدماتنتا</a></li>
         <li class="dropdown"><a href="#"><span> تسجيل جديد     </span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a class="nav-link scrollto" href="{% url 'register-publisher' %}">عضوية دار نشر  </a></li>
              <li><a class="nav-link scrollto" href="{% url 'register-translator' %}">عضوية مترجم</a></li>
              <li><a class="nav-link scrollto" href="{% url 'register-design' %}">عضوية مصمم</a></li>
                <li><a class="nav-link scrollto" href="{% url 'register-proof' %}">عضوية مدقق لغوى</a></li>

            </ul>
          </li>
{% if user.is_authenticated %}
                   <li><a class="nav-link scrollto" href="{% url 'logout' %}">تسجيل خروج</a></li>

              {% else %}
              <li><a class="nav-link scrollto" href="{% url 'login' %}">تسجيل دخول</a></li>

              {% endif %}
            {% else %}
     <li><a class="nav-link scrollto active" href="{% url 'home-page' %}">Home</a></li>
           <li><a class="nav-link scrollto " href="{% url 'whous-page' %}">Who Us</a></li>
          <li><a class="nav-link scrollto" href="{% url 'services-page' %}">Services</a></li>
          <li class="dropdown"><a href="#"><span>Sign Up</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a class="nav-link scrollto" href="{% url 'register-publisher' %}">Publisher</a></li>
              <li><a class="nav-link scrollto" href="{% url 'register-translator' %}">Translator</a></li>
                <li><a class="nav-link scrollto" href="{% url 'register-design' %}">Designer</a></li>
              <li><a class="nav-link scrollto" href="{% url 'register-proof' %}">Proof Reader</a></li>

            </ul>
          </li>
{% if user.is_authenticated %}
                   <li><a class="nav-link scrollto" href="{% url 'logout' %}">Logout</a></li>
                   <li><a class="nav-link scrollto" href="{% url 'dashboard' %}">Dashboard</a></li>

              {% else %}
              <li><a class="nav-link scrollto" href="{% url 'login' %}">Login</a></li>

              {% endif %}
            {% endif %}
            {% include 'partials/_language.html' %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="header-social-links d-flex align-items-center">
        <a href="https://twitter.com/Naashr_sa" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/Naashr_sa" class="instagram"><i class="bi bi-instagram"></i></a>
      </div>

    </div>
  </header>