{% extends 'masterpage.html' %}
{% load static %}


{% block content %}
<section class="min-vh-40 mb-8">
    <div class="bg-kheer align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg" style="background-repeat: no-repeat; background-image: url('../../static/assets/img/image-1.png');">
      <div class="container">
        <div class="row justify-content-lg-start">
          <div class="col-lg-5 text-center ">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
              <div class="row mt-lg-n8 mt-md-n8 mt-n8">
        <div class="col-xl-12 col-lg-12 col-md-12 pt-3 mx-auto">
          <div class="card z-index-0">
            <div class="card-body">
                    {% if LANGUAGE_CODE == 'ar' %}
              <p class="text-lead blue-khieer">
				ناشر موقع أنشئ لتقديم خدمات الترجمة والوساطة لترجمة الكتب، باستخدامك لمنصة ناشر فإنك توافق على هذه الاتفاقية من غير قيود أو شروط، ويحق لموقع ناشر في أي وقت تعديل هذه الاتفاقية وسيتم نشر النسخة المعدلة على المنصة، وتكون النسخة المعدلة من (اتفاقية الشروط والأحكام) سارية المفعول بعد أسبوع من تاريخ نشرها في المنصة، وبعد النشر يعتبر استمرارك في استخدام المنصة، التزاماً منك بالشروط والبنود الواردة في النسخة المعدلة، ورضاً منك في تطبيق التعديلات.
														 
            </p>
                             <ul>
                                 <li>
                                  <h4> أولاً: يقصد بالمصطلحات التالية متى ما وردت في هذه الاتفاقية – اتفاقية الشروط والأحكام - ما يلي </h4>   
                                  <p> 
                                    المستخدم: أي شخص يستخدم موقع ناشر للاستفادة من خدمات الترجمة والبحث عن الكتب الغير مترجمة والاستفادة من الخدمات.

                                    مقدم الخدمة: هو الشخص الذي يقوم بطلب نشر الكتاب الغير مترجم الخاص به وفقاً لبياناته المسجلة في المنصة وتقديمها من خلال منصة ناشر.
                                    
                                    المنصة: يقصد بها أينما وردت في هذه الاتفاقية " ناشر للترجمة" ما لم يكن سياق النص لمعنى آخر.
                                    
                                    الحساب: هو الصفحة/السجل الخاص بالمستخدم المنشأ من أجل أن يتمكن المستخدم من الاستفادة من
                                    
                                    خدمات موقع ناشر. / الخدمات: هي جميع الخدمات المتاحة في موقع ناشر                                    
                                  </p>
                                </li>
                                <li>
                                    <h4> ثانياً: شروط تسجيل المستخدم في موقع ناشر </h4>   
                                    <p> 
                                        يجب أن يكون مكتسب للأهلية الكاملة وأن يكون عمره يتجاوز 18 سنة، ويقر المستخدم أنه مكتسب للأهلية الكاملة.

                                        يلتزم المستخدم بتزويد موقع ناشر بالمعلومات والبيانات الصحيحة المطلوبة للاستفادة من خدمات الموقع.
                                        
                                        يحظر على المستخدم القيام بأي عمل قد يؤدي إلى حدوث ضغط غير محتمل أو غير متناسب مع المنصة أو البنية التحتية الخاصة بها.
                                        
                                        يحظر على المستخدم نشر أو تحميل أي مواد تشهيرية، هجومية، انتهاكيه، مضرة، تهديدية، مسيئة، ملتوية أو عنصرية، أو غير ملائمة أخلاقياً أو غير ذلك من محتوى أو معلومات غير قانونية.
                                        
                                        يحظر على المستخدم الدخول أو القيام بمحاولة دخول غير مصرح به لموقع ناشر أو منح الآخرين صلاحية استخدام حسابه، أو انتحال أي شخصية أو تحريف العضوية مع شخص آخر، ويتحمل المستخدم ما يترتب على مخالفته لأحكام هذه الفقرة.
                                        
                                        يحظر على المستخدم القيام بعمل من الممكن أن يتسبب بالضرر أو يتضارب مع حقوق الملكية الفكرية لموقع ناشر.
                                        
                                        يحظر على المستخدم تحميل أو إرفاق أي ملفات أو برامج أو أي مواد أخرى محمية من قبل قوانين حقوق الملكية الفكرية أو أي حقوق خاصة أو عامة لا يملك حقوق استخدامها.
                                        
                                        إذا تبين لموقع ناشر وفقاً لتقديرها الشخصي قيام المستخدم بخرق أو مخالفة أي من هذه الشروط، فلها حق حذف أي طلبات أو محتوى تم نشره -بدون القيام بإنذار المستخدم-، واتخاذ تدابير -من ضمنها إيقاف، تعليق أو تقييد وصول المستخدم للمنصة- ومنع المستخدم من استخدام المنصة، وللمنصة الحق في التبليغ عن المستخدم لدى مزودي خدمة الإنترنت أو السلطات المختصة، أو اتخاذ أي إجراءات قانونية.
                                                                          
                                    </p>
                                  </li>
                                  <li>
                                    <h4>ثالثاً: أحكام الاستفادة من خدمات موقع ناشر </h4>   
                                    <p> 
                                        يقتصر دور موقع ناشر على التوسط بين المستخدم المستفيد ومقدمي الخدمة، ولا تعتبر المنصة مسؤولة عن مستوى وجودة الخدمات المقدمة من مقدمي الخدمة.

                                        يقدم الخدمات المتاحة على موقع ناشر مقدمي خدمة مستقلين عن موقع ناشر من حملة الشهادات المتخصصة في الترجمة أو اللغات أو غيرها من الاختصاصات المصرح لها بتقديم خدماتهم في مجال محدد
                                        
                                        المستخدم يستطيع طلب الخدمة التي يحتاجها، ويحق له الاطلاع على العروض المقدمة من مقدمي الخدمات ويختار منها ما يشاء، ويحق له معرفة زمن تنفيذ الخدمة وأي تفاصيل ذات علاقة بالخدمات يستطيع الاتفاق فيها مع مقدم الخدمة، شريكة أن تكون جميع هذه التفاصيل متماشية مع اتفاقية الشروط والأحكام الخاصة بالمستخدم ومقدم الخدمة.
                                        
                                        يقوم المستخدم بسداد قيمة الخدمة عن طريق وسائل الدفع المتاحة في المنصة
                                        
                                        يلتزم المستخدم بكافة أحكام وشروط هذه الاتفاقية وفي حال قيام المستخدم بتصرف يخالف ما ورد في هذه الاتفاقية فيحق لموقع ناشر تعطيل استفادته من خدمات المنصة في أي وقت دون سابق إشعار، كما يحق لموقع ناشر اللجوء للجهة المختصة لمطالبة المستخدم بالتعويض عن أي ضرر. 
                                        
                                        موقع ناشر لا تطلب من المستخدم أي معلومات أو مستندات سرية أو خاصة، سوى الطلبات المذكورة في المنصة أو التي تطلب فيما بعد عن طريق المنصة، وجميع الطلبات المتعلقة بتقديم الخدمة هي من مسؤوليات مقدم الخدمة، ويقع على عاتقه وحده حمايتها وعدم إفشائها.
                                                                            
                                    </p>
                                  </li>
                                  <li>
                                    <h4>رابعاً: خدمات الدفع</h4>   
                                    <p> 
                                        يجب على المستخدم القيام بالسداد من خلال وسائل الدفع المتاحة في المنصة قبل مباشرة مقدم الخدمة العمل على تنفيذ الخدمة، ولن يتم تقديم الخدمة ولا مباشرة العمل حتى يتم دفع قيمة الخدمة.

                                        يحظر على المستخدم الاحتيال في استخدام وسيلة دفع غير صحيحة أو غير صالحة، ويمنع كذلك من استخدام وسيلة دفع مسروقة ويتحمل المستخدم المسؤولية نتيجة مخالفة هذه الفقرة.
                                        
                                        جميع عمليات الدفع تتم بالريال السعودي، وفي حال قام المستخدم بالدفع باستخدام عملة أخرى فيتحمل النفقات والأجور المترتبة على تحويل العملة أو أي رسوم بنكية أخرى.
                                        
                                        يحق للمستخدم المطالبة بإلغاء الخدمة واسترجاع قيمتها المدفوعة بشرط أن يقدم الطلب قبل أن تتم مباشرة العمل على الخدمة من قبل المنصة أو من قبل مقدم الخدمة، وفي هذه الحالة يسترجع المبلغ المدفوع للمستخدم مع خصم رسوم الاسترجاع المفروضة من وسيط الدفع الإلكتروني أو من أي جهة ذات علاقة.
                                        
                                        يجب أن يقدم طلب إلغاء الخدمة من خلال قنوات التواصل المحددة داخل المنصة، ولا يعتبر طلب إنهاء الاستشارة طلباً لإلغاء الخدمة واسترجاع قيمتها
                                                            
                                    </p>
                                  </li>
                                  <li>
                                    <h4>خامساً: المسؤولية </h4>   
                                    <p> 
                                        يقتصر عمل من موقع ناشر على القيام بخدمة الوساطة والتوفيق وتقريب وجهات النظر (السمسرة) بين المستخدم ومقدم الخدمة وذلك في الخدمات الترجمة في مجالات مقدمي الخدمات

                                        عند تعرض المستخدم لأي أضرار تنتج عن تقصير أو إهمال مقدم الخدمة في تنفيذ الخدمة فإن مقدم الخدمة وحده يتحمل المسؤولية الكاملة أمام المستخدم، ولا يلتزم موقع ناشر بتحمل أي التزامات أو مسؤوليات تجاه المستخدم.
                                        
                                        يتحمل المستخدم المسؤولية الكاملة لوحده عند قيامه بأي مخالفة لأحكام هذه الاتفاقية، أو مخالفة توجيهات موقع ناشر، أو توجيهات مقدم الخدمة. 
                                        
                                        يلتزم المستخدم عند قيامه بسداد تكاليف الخدمة بالسداد عن طريق الوسائل والحسابات الموضحة في موقع ناشر، ويحظر على المستخدم سداد تكاليف الخدمات لحسابات مقدمي الخدمة مباشرة أو حسابات مجهولة أو غير معلنة عنها في موقع ناشر، ويتحمل التبعات القانونية عند قيامه بذلك. 
                                        
                                        يحق لمقدم الخدمة الطلب من المستخدم تزويده بعدد من البيانات أو المستندات من أجل إعداد وتقديم الخدمة، لكن يقع على المستخدم وحده مسؤولية تزويد مقدم الخدمة بهذه المستندات ولا تتحمل موقع ناشر أي استخدام خاطئ لهذه البيانات أو المستندات من قبل مقدم الخدمة، كما يلتزم مقدم الخدمة بالمحافظة على المستندات السرية، وعدم الإفصاح عن المستندات المقدمة من المستخدم. 
                                        
                                        موقع ناشر لا تتحمل أي خطأ ينتج عن استخدام مقدم الخدمة أو المستخدم للمنصة، سواء أكان الخطأ بمخالفة الشروط والأحكام، أو باستغلال المستندات الموجودة في المنصة أو المقدمة من المستخدمين أو مقدمي الخدمة، وغيرها، وسواء أكان الخطأ أو المخالفة بقصد أو بغير قصد، فالمنصة تخلي مسؤوليتها عن ذلك
                                                      
                                    </p>
                                  </li>
                                  <li>
                                    <h4>سادساً: أحكام عامة </h4>   
                                    <p> 
                                        يحق لموقع ناشر إيقاف حساب المستخدم وعدم تمكينه من الاستفادة من خدمات المنصة عند مخالفته لأحكام هذه الاتفاقية في أي وقت كان.

                                        يحق لموقع ناشر تزويد مقدم الخدمة أو الجهات المختصة بالمعلومات الشخصية للمستخدم بما في ذلك الاسم وبيانات الهوية، وبيانات السجل التجاري والعنوان وذلك حال قيام المستخدم بمخالفة شروط وأحكام المنصة، أو عند الحاجة لتقديم بلاغ أو تسجيل شكوى عليه. 
                                       
                                                      
                                    </p>
                                  </li>
                                  <li>
                                    <h4>سابعاً: الإشعارات </h4>   
                                    <p> 
                                        تعد مراسلات موقع ناشر على العناوين الرسمية المدونة في صفحة التسجيل الخاصة بالمستخدم أو الإشعارات التي تتم عبر التطبيق إشعارات قانونية منتجة لآثار التبليغ
                                                      
                                    </p>
                                  </li>
                                  <li>
                                    <h4>ثامناً: التقاضي وحل النزاعات  </h4>   
                                    <p> 
                                        تسري أنظمة وقوانين المملكة العربية السعودية على أحكام هذه الاتفاقية، وتختص الجهة المختصة بمدينة الرياض بنظر أي نزاع ينشأ عن تطبيق هذه الاتفاقية، ولموقع ناشر الحق بمقاضاة خصومه في مقر إقامتهم أمام الجهات المختصة.                                                       
                                    </p>
                                  </li>
											
											</ul>

           {% else %}
                        <p class="text-lead blue-khieer">
                            A publisher site was established to provide translation and mediation services to translate books, by using the Naashr platform, you agree to this agreement without restrictions or conditions, and the Naashr site has the right at any time to amend this agreement and the modified version will be published on the platform, and the modified version of (Terms and Conditions Agreement) is valid It takes effect a week after the date of its publication on the platform, and after publication, your continued use of the platform is considered your commitment to the terms and conditions contained in the amended version, and your satisfaction in applying the amendments.														 
            </p>
                             <ul>
                                 <li>
                                  <h4> First: Whenever they appear in this Agreement - the Terms and Conditions Agreement, the following terms mean the following: </h4>   
                                  <p> 
                                    the user: Anyone who uses Naashr’s website to benefit from translation services, search for non-translated books, and benefit from the services.

                                    Service Provider: He is the person who requests to publish his untranslated book according to his data registered on the platform and submit it through the Naashr platform.
                                    
                                    Platform: Wherever it appears in this Agreement, it means "Naashr for translation service " unless the context of the text has another meaning.
                                    
                                    the account: It is the page/record of the user created in order for the user to be able to benefit from
                                    
                                    Naashr website services. / Services: All services are available on the Nasher website                                                                       
                                  </p>
                                </li>
                                <li>
                                    <h4> Second: Terms of user registration in Naashr website </h4>   
                                    <p> 
                           
He must be fully eligible and be over 18 years of age, and the User acknowledges that he is fully eligible.

The user is obligated to provide Naashr website with the correct information and data required to benefit from the website's services.

The User is prohibited from taking any action that may cause intolerable or disproportionate pressure on the Platform or its infrastructure.

User is prohibited from posting or uploading any defamatory, offensive, infringing, harmful, threatening, abusive, perverted, racist, morally inappropriate or other illegal content or information.

The user is prohibited from entering or attempting to unauthorized access to the Naashr’s website or granting others the authority to use his account, impersonating any person or distorting membership with another person, and the user shall bear the consequences of his violation of the provisions of this paragraph.

The user is prohibited from doing anything that could cause damage or conflict with the intellectual property rights of the publisher's website.

The user is prohibited from uploading or attaching any files, programs or any other materials that are protected by intellectual property rights laws or any private or public rights that he does not have the rights to use.

If Naashr, in its sole discretion, finds that the user has breached or violated any of these conditions, it has the right to delete any requests or content posted - without warning the user - and take measures - including suspending, suspending or restricting the user's access to the platform - and preventing the user from Using the platform, and the platform has the right to report the user to the Internet service providers or the competent authorities, or to take any legal actions.
                            
                                    </p>
                                  </li>
                                  <li>
                                    <h4>Third: Terms of benefiting from Naashr website services </h4>   
                                    <p> 
                                        Naashr’s role is limited to providing translation and proofreading services, displaying the services of service providers, and mediating between the beneficiary user and service providers, and the platform is not responsible for the level and quality of services provided by service providers.

                                        The services available on the Naashr website are provided by service providers independent ,who hold specialized certificates in translation, languages or other disciplines authorized to provide their services in a specific field
                                        
                                        The user can request the service he needs, and he has the right to view the offers offered by service providers and choose from them what he wants, and he has the right to know the time of service implementation and any details related to the services that he can agree with the service provider, all of these details are in line with the terms and conditions agreement of the user and the service provider.
                                        
                                        The user pays for the service through the payment methods available on the platform
                                        
                                        The user is bound by all the terms and conditions of this agreement, and in the event that the user acts in violation of what is stated in this agreement, the Naashr website has the right to disable its benefit from the platform services at any time without prior notice, and the publisher website has the right to resort to the competent authority to demand the user to compensate for any damage. 
                                        
                                        Naashr website does not ask the user for any confidential or private information or documents, except for the requests mentioned on the platform or that are later requested through the platform, and all requests related to providing the service are the responsibility of the service provider, and he alone is responsible for protecting them and not disclosing them                                        
                                        
                                    </p>
                                  </li>
                                  <li>
                                    <h4>Fourth: Payment services:  </h4>   
                                    <p> 
                                        The user must make the payment through the payment methods available on the platform before the service provider begins working on the implementation of the service, and neither the service nor the work will be started until the value of the service is paid.

                                        The user is prohibited from defrauding an incorrect or invalid payment method, and is also prohibited from using a stolen payment method, and the user will be held liable for violating this paragraph.
                                        
                                        All payments are made in Saudi riyals, and if the user pays using another currency, he shall bear the expenses and fees resulting from the currency conversion or any other bank fees.
                                        
                                        The user has the right to demand the cancellation of the service and the refund of its paid value, provided that the request is submitted before work is started on the service by the platform or by the service provider. .
                                        
                                        The request to cancel the service must be submitted through the communication channels specified within the platform, and the request to terminate the consultation is not considered a request to cancel the service and refund its value                                                     
                                    </p>
                                  </li>
                                  <li>
                                    <h4>Fifth: the responsibility:  </h4>   
                                    <p> 
                                        The work of the Naashr website is limited to carrying out the service of mediation, conciliation and convergence of views (broking) between the user and the service provider in the translation services in the fields of service providers

                                        When the user suffers any damages resulting from the negligence or negligence of the service provider in implementing the service, the service provider is solely responsible before the user, and Naashr website is not obligated to bear any obligations or responsibilities towards the user.
                                        
                                        The user bears full responsibility for any violation of the provisions of this agreement, or the violation of the directions of the publisher site, or the directions of the service provider. 
                                        
                                        When paying the costs of the service, the user is obligated to pay through the means and accounts shown on the Naashr website, and the user is prohibited from paying the costs of services directly to the accounts of service providers or to anonymous or undeclared accounts on the Naashr website, and he bears the legal consequences when doing so. 
                                        
                                        The service provider has the right to ask the user to provide him with a number of data or documents in order to prepare and provide the service, but the user is solely responsible for providing the service provider with these documents and Naashr website is not responsible for any wrong use of these data or documents by the service provider, and the service provider is obligated to maintain Confidential documents, and non-disclosure of documents submitted by the user. 
                                        
                                        Naashr website does not bear any error resulting from the use of the service provider or user of the platform, whether the error was in violation of the terms and conditions, or by exploiting the documents on the platform or submitted by users or service providers, etc., and whether the error or violation was intentionally or unintentionally, the platform disclaims responsibility for it
                                                   
                                    </p>
                                  </li>
                                  <li>
                                    <h4>Six: General Provisions </h4>   
                                    <p> 
                                        Naashr website has the right to suspend the user’s account and not enable him to benefit from the services of the platform when he violates the provisions of this agreement at any time.

                                        Naashr website has the right to provide the service provider or the competent authorities with the user’s personal information, including the name, identity data, commercial registration data and address, in case the user violates the terms and conditions of the platform, or when there is a need to file a report or register a complaint on it
                                       
                                                      
                                    </p>
                                  </li>
                                  <li>
                                    <h4>Seven: Notices </h4>   
                                    <p> 
                                        Naashr website communications to the official addresses listed on the user's registration page or notices made through the application are legal notices that produce the effects of notification.                                                      
                                    </p>
                                  </li>
                                  <li>
                                    <h4>Eight: Litigation and Dispute Resolution:   </h4>   
                                    <p> 
                                        The laws and regulations of the Kingdom of Saudi Arabia apply to the provisions of this agreement, and the competent authority in the city of Riyadh is competent to consider any dispute arising from the application of this agreement, and the publisher site has the right to sue its opponents at their place of residence before the competent authorities    
                                    </p>
                                  </li>
											
											</ul>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}