{% extends 'masterpage.html' %} {% load crispy_forms_tags %} {% block content %}
<section id="contact" class="contact section-bg pt-4">
  <div class="container justify-content-center">
    <div class="section-title" data-aos="fade-up">
      {% if LANGUAGE_CODE == 'ar' %}
      <h4 class="text-muted">تسجيل عقد للكتاب</h4>
      {% else %}
      <h4 class="text-muted">Add Book Contract</h4>

      {% endif %}
    </div>
  </div>
  <div
    style="margin: 0 auto"
    class="col-lg-10 mt-5 mt-lg-0 d-flex align-items-stretch justify-content-center"
    data-aos="fade-left"
  >
    <form
      action="{% url 'request-design' %}"
      method="post"
      class="form"
      enctype="multipart/form-data"
    >
      {% csrf_token %}

      <div class="form-group col-lg-6 col-12">
        {% if LANGUAGE_CODE == 'ar' %}
        <label for="book_sizes">إختر الكتاب </label>
        {% else %}
        <label for="book_sizes">choose Book </label>
        {% endif %}

        <select class="form-control" name="book" id="book">
          {% for book in books %}
          <option value="{{ book.pk }}">{{ book.book_address }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group col-lg-6 col-12">
        {% if LANGUAGE_CODE == 'ar' %}
        <label>المستفيد</label>
        {% else %}
        <label>Assigned To</label>
        {% endif %}

        <select class="form-control" name="user" id="user">
          {% for user in translators %}
          <option value="{{ user.pk }}">{{ user.get_full_name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group col-lg-6 col-12">
        {% if LANGUAGE_CODE == 'ar' %}
        <label>العقد</label>
        {% else %}
        <label>Contract</label>
        {% endif %}
        <input type="file" name="contract" id="contract" class="form-control" />
      </div>
    </form>
  </div>
</section>

{% endblock content %}
