{% extends 'main.html' %} {% block content %}
<section id="services" class="services section-bg">
  <div class="container">
    <div class="section-title aos-init aos-animate" data-aos="fade-up">
      {% if LANGUAGE_CODE == 'ar' %}
      <h2>عقود حقوق النشر</h2>
      <a
        class="btn btn-dark text-white"
        href="{% url 'add-copyright-contract' %}"
      >
        إضافة عقد</a
      >
      {% else %}
      <h2>Copyrights Contracts</h2>
      <a
        class="btn btn-dark text-white"
        href="{% url 'add-copyright-contract' %}"
      >
        Add</a
      >
      {% endif %}
    </div>

    <div class="row justify-content-center">
      <table
        style="margin: 0 auto"
        class="table table-max table-bordered align-items-center mb-auto"
      >
        <thead class="text_black">
          <tr>
            {% if LANGUAGE_CODE == 'ar' %}
            <th class="text-center text-xxs" style="width: 1.5rem">#</th>
            <th class="text-center text-xxs" style="width: 1.2rem">المؤسسة</th>

            <th class="text-center text-xxs" style="width: 1.2rem">
              المستفيد بالعقد
            </th>
            <th class="text-center text-xxs" style="width: 1.2rem">العقد</th>
            <th class="text-center text-xxs" style="width: 1.2rem">الحالة</th>

            {% else %}
            <th class="text-center text-xxs" style="width: 1.5rem">#</th>
            <th class="text-center text-xxs" style="width: 1.2rem">
              Foundtation
            </th>
            <th class="text-center text-xxs" style="width: 1.2rem">
              Assigned To
            </th>
            <th class="text-center text-xxs" style="width: 1.2rem">Contract</th>
            <th class="text-center text-xxs" style="width: 1.2rem">Status</th>

            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for contract in contracts %}
          <tr>
            <td style="justify-content: space-around">
              <p class="text-center text-xxs">{{ contract.pk }}</p>
            </td>
            <td class="align-middle text-center text-xxs" style="width: 1.2rem">
              <p class="text-xxs">{{ contract.found.get_full_name }}</p>
            </td>
            <td class="align-middle text-center text-xxs" style="width: 1.2rem">
              <p class="text-xxs mb-0">
                {{ contract.author_name.get_full_name }}
              </p>
            </td>
            <td class="align-middle text-center text-xxs" style="width: 1.2rem">
              {% if LANGUAGE_CODE == 'ar' %}
              <a href="{{ contract.contract.url }}" class="btn btn-dark text-white"> العقد</a>
             {% else %}
             <a href="{{ contract.contract.url  }}" class="btn btn-dark text-white"> Contract</a>
             {% endif %}
            </td>
            <td class="align-middle text-center text-xxs" style="width: 1.2rem">
              <p>{{ contract.get_is_accepted_display }} </p>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include 'partials/_pagination.html' with page_obj=contracts only %}

    </div>
  </div>
</section>

{% endblock content %}
