{% extends 'main.html' %} {% block content %}
<section id="services" class="services section-bg">
  <div class="container">
    <div class="section-title aos-init aos-animate" data-aos="fade-up">
      {% if LANGUAGE_CODE == 'ar' %}
      <h2>الفواتير</h2>

      {% else %}
      <h2>books</h2>

      {% endif %}
    </div>

    <div class="row justify-content-center">
      <table
        style="margin: 0 auto"
        class="table table-max table-bordered align-items-center mb-auto"
      >
        <thead class="text_black">
          <tr>
            {% if LANGUAGE_CODE == 'ar' %}
            <th class="text-center text-xxs" style="width: 1.2rem">
              اسم الكتاب
            </th>

            <th class="text-center text-xxs" style="width: 1.2rem">
              الكتاب 
            </th>

            {% else %}
            <th class="text-center text-xxs" style="width: 1.2rem">
              Book Name
            </th>
            <th class="text-center text-xxs" style="width: 1.2rem">Book</th>

            {% endif %}
            {% if request.user.is_publisher %}
            <th class="text-center text-xxs" style="width: 0.2rem"></th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for book in books %}
          <tr>
            <td style="justify-content: space-around">
              <p class="text-center text-xxs">{{ book.book_address }}</p>
            </td>
            <td class="align-middle text-center text-xxs" style="width: 1.2rem">
                {% if LANGUAGE_CODE == 'ar' %}
                <p class="text-xxs"><a href="{{ book_address }}">الكتاب</a></p>
 {% else %}
 <p class="text-xxs"><a href="{{ book_address }}">Book</a></p>
 {% endif %}
            </td>
            {% if request.user.is_publisher %}
            <td class="align-middle text-center text-xxs" style="width: 1.2rem">
                
                {% if LANGUAGE_CODE == 'ar' %}
                <p class="text-xxs"><a class="btn btn-danger text-white" href="{% url 'delete-book' book.pk %}">ازالة</a></p>
 {% else %}
 <p class="text-xxs"><a class="btn btn-danger text-white" href="{% url 'delete-book' book.pk %}">Delete</a></p>
    {% endif %}
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include 'partials/_pagination.html' with page_obj=books only %}

    </div>
  </div>
</section>

{% endblock content %}
