{% extends 'masterpage.html' %}
{% load static %}


{% block content %}
<header class="masthead d-flex align-items-center" style="height: auto;background-image: url('../../../static/assets/img/white-back.jpg')">
            <div class="container px-4 px-lg-5 text-center">
                    {% if LANGUAGE_CODE == 'ar' %}
                <h1 class="mb-1">المعلومات الشخصية </h1>
                {% else %}
                                <h1 class="mb-1">Profile</h1>

                {% endif %}
            </div>
        </header>

{% include 'accounts/profile/_InfoCard.html' with content=object %}


{% endblock content %}