{% autoescape off %}
{% if LANGUAGE_CODE == 'ar' %}
إضغط على الرابط التالى {{ user.email }} لتغيير كلمة المرور الخاصة الخاصة بموقع ناشر للترجمة 
{% else %}
To initiate the password reset process for your {{ user.email }} Nashr For Translation,
click the link below:
{% endif %} 
  {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
  {% if LANGUAGE_CODE == 'ar' %}
  If clicking the link above doesn't work, please copy and paste the URL in a new browser
  window instead.

  Sincerely,
  Nashr For Translation
  {% else %}
  إذا كان الرابط لا يعمل برجاء نسخ الرابط و الدخول عليه من خلال المتصفح مباشرة
  {% endif %}
{% endautoescape %}