{% extends 'main.html' %} {% block content %}
<section id="services" class="services section-bg">
  <div class="container">
    <div class="section-title aos-init aos-animate" data-aos="fade-up">
      {% if LANGUAGE_CODE == 'ar' %}
      <h2>الأشعارات</h2>

      {% else %}
      <h2>Notifications</h2>

      {% endif %}
    </div>

    <div class="row justify-content-center">
      <table
        style="margin: 0 auto"
        class="table table-max table-bordered align-items-center mb-auto"
      >
        <thead class="text_black">
          <tr>
            {% if LANGUAGE_CODE == 'ar' %}
            <th class="text-center text-xxs" style="width: 1.5rem">#</th>
            <th class="text-center text-xxs" style="width: 1.2rem">المحتوى</th>

            <th class="text-center text-xxs" style="width: 1.2rem">
              وقت الأرسال
            </th>

            {% else %}
            <th class="text-center text-xxs" style="width: 1.5rem">#</th>
            <th class="text-center text-xxs" style="width: 1.2rem">Content</th>
            <th class="text-center text-xxs" style="width: 1.2rem">
              Time Sent
            </th>

            {% endif %}

            <th class="text-center text-xxs" style="width: 0.2rem"></th>
          </tr>
        </thead>
        <tbody>
          {% for msg in msgs %}
          <tr>
            <td style="justify-content: space-around">
              <p class="text-center text-xxs">{{ msg.pk }}</p>
            </td>
            <td class="align-middle text-center text-xxs" style="width: 1.2rem">
              <p class="text-xxs">{{ msg.message }}</p>
            </td>
            <td class="align-middle text-center text-xxs" style="width: 1.2rem">
              <p class="text-xxs mb-0">{{ msg.time_sent }}</p>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>

{% endblock content %}
