{% extends 'main.html' %} {% block content %}
<section id="services" class="services section-bg">
  <div class="container">
    <div class="section-title aos-init aos-animate" data-aos="fade-up">
      {% if LANGUAGE_CODE == 'ar' %}
      <h2>طلبات الكتب</h2>
      {% else %}
      <h2>Request Book</h2>
      {% endif %}
    </div>

    <div class="row justify-content-center">
      <table
        style="margin: 0 auto"
        class="table table-max table-bordered align-items-center mb-auto"
      >
        <thead class="text_black">
          <tr>
            {% if LANGUAGE_CODE == 'ar' %}
            <th class="text-center text-xxs" style="width: 1.5rem">#</th>
            <th class="text-center text-xxs" style="width: 1.2rem">
             اسم الكتاب
            </th>

            <th class="text-center text-xxs" style="width: 1.2rem">وقت الطلب</th>
            {% else %}
            <th class="text-center text-xxs" style="width: 1.5rem">#</th>
            <th class="text-center text-xxs" style="width: 1.2rem">
              Book Name
            </th>
            <th class="text-center text-xxs" style="width: 1.2rem">
              Requested Time
            </th>
            {% endif %}

            <th class="text-center text-xxs" style="width: 0.2rem"></th>
          </tr>
        </thead>
        <tbody>
          {% for req in reqs %}
          <tr>
            <td style="justify-content: space-around">
              <p class="text-center text-xxs">{{ req.pk }}</p>
            </td>
            <td class="align-middle text-center text-xxs" style="width: 1.2rem">
              <p class="text-xxs">{{ req.book_name }}</p>
            </td>
            <td class="align-middle text-center text-xxs" style="width: 1.2rem">
              <p class="text-xxs mb-0">{{ req.data_sent }}</p>
            </td>
            <td class="align-middle text-center text-xxs" style="width: 1.2rem">
              <a
                href="{% url 'requests-negs' req.pk %}"
                class="btn btn-dark text-white btn-rounded"
              >
              {% if LANGUAGE_CODE == 'ar' %}
                مفاوضات
                {% else %}
Negotiations
                {% endif %}
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include 'partials/_pagination.html' with page_obj=reqs only %}

    </div>
  </div>
</section>

{% endblock content %}
