{% extends 'main.html' %} {% block content %}
<section id="services" class="services section-bg">
  <div class="container">

    <div class="row justify-content-center">
      <table
        style="margin: 0 auto"
        class="table table-max table-bordered align-items-center mb-auto"
      >
        <thead class="text_black">
          <tr>
            {% if LANGUAGE_CODE == 'ar' %}
            <th class="text-center text-xxs" style="width: 1.5rem">#</th>
            <th class="text-center text-xxs" style="width: 1.2rem">المؤسسة</th>
            <th class="text-center text-xxs" style="width: 1.2rem">العقد</th>
            <th class="text-center text-xxs" style="width: 1.2rem">موافقة</th>
            <th class="text-center text-xxs" style="width: 1.2rem">وقع عقد</th>

            {% else %}
            <th class="text-center text-xxs" style="width: 1.5rem">#</th>
            <th class="text-center text-xxs" style="width: 1.2rem">
              Foundtation
            </th>
            <th class="text-center text-xxs" style="width: 1.2rem">Contract</th>
            <th class="text-center text-xxs" style="width: 1.2rem">Accept</th>
            <th class="text-center text-xxs" style="width: 1.2rem">upload Sign Contract</th>

            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for contract in contracts %}
          <tr>
            <td style="justify-content: space-around">
              <p class="text-center text-xxs">{{ contract.pk }}</p>
            </td>
            <td class="align-middle text-center text-xxs" style="width: 1.2rem">
              <p class="text-xxs">{{ contract.found.get_full_name }}</p>
            </td>
            <td class="align-middle text-center text-xxs" style="width: 1.2rem">
              {% if LANGUAGE_CODE == 'ar' %}
              <a href="{{ contract.contract.url }}" class="btn btn-dark text-white"> العقد</a>
             {% else %}
             <a href="{{ contract.contract.url  }}" class="btn btn-dark text-white"> Contract</a>
             {% endif %}
            </td>
            <td class="align-middle text-center text-xxs" style="width: 1.2rem">
              {% if LANGUAGE_CODE == 'ar' %}
              <a href="{% url 'copy-sign-contract' %}" class="btn btn-dark text-white"> وقع عقد</a>
             {% else %}
             <a href="{% url 'copy-sign-contract' %}" class="btn btn-dark text-white"> Upload Contract</a>
             {% endif %}
            </td>
            <td class="align-middle text-center text-xxs" style="width: 1.2rem">
              {% if contract.is_accepted == True %}
              {% if LANGUAGE_CODE == 'ar' %}
               <p> لقد تمت الموافقة</p>
               {% else %}
               <p> Accept had been done </p>
               {% endif %}
              {% else %}
              {% if LANGUAGE_CODE == 'ar' %}
              <a class="btn btn-dark text-white" href="{% url 'accept-copy' contract.pk %}"> موافقة </a>
              <p class="text-muted text-xxs"> عدم الضغط على الزر يعنى عدم الموافقة</p>
              {% else %}
              <a class="btn btn-dark text-white" href="{% url 'accept-copy' contract.pk %}"> Accept </a>
              <p class="text-muted text-xxs"> Not press on button means refuse to sign</p>
              {% endif %}
              {% endif %}
             
            </td>
            <td class="align-middle text-center text-xxs" style="width: 1.2rem">
              {% if LANGUAGE_CODE == 'ar' %}
               {% if contract.is_signed == True %}
               <p class="text-xxs"> لقد تم توقيع العقد </p>
               {% else %}
               <a href="{% url 'sign-contract' contract.pk %}" class="btn btn-dark text-white"> وقع عقد</a>   
               {% endif %}
             {% else %}
             {% if contract.is_signed == True  %}
             <p class="text-xxs"> Contract had been signed </p>
             {% else %}
             <a href="{% url 'sign-contract' contract.pk %}" class="btn btn-dark text-white"> Upload Contract</a>
             {% endif %}
             {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include 'partials/_pagination.html' with page_obj=contracts only %}
    </div>
  </div>
</section>

{% endblock content %}
