{% extends 'masterpage.html' %}
{% load static %}


{% block content %}
<section class="min-vh-40 mb-8">
    <div class="bg-kheer align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg" style="background-repeat: no-repeat; background-image: url('../../static/assets/img/image-1.png');">
      <div class="container">
        <div class="row justify-content-lg-start">
          <div class="col-lg-5 text-center ">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
              <div class="row mt-lg-n8 mt-md-n8 mt-n8">
        <div class="col-xl-12 col-lg-12 col-md-12 pt-3 mx-auto">
          <div class="card z-index-0">
            <div class="card-body">
                    {% if LANGUAGE_CODE == 'ar' %}
                    <h4 class="green-khieer mb-2 mt-5">اتفاقية شروط الخدمات   </h4>
              <p class="text-lead blue-khieer">
                هذه الاتفاقية تمثل عقد بين كل من ناشر ويشار إليها فيما بعد بلفظ (” ناشر" – من نحن – أو لنا أو خاص بنا) وأنت ويشار اليه فيما بعد بلفظ (“المترجم” أو “أنت” أو “خاص بكم”.
                تتضمن هذه الاتفاقية الشروط والأحكام العامة والتي يتم بموجبها استخدامك للمنتجات والخدمات التي تقدمها ناشر والموقع الإلكتروني (ويشار اليها إجمالا بلفظ “الخدمات”).
               استخدامك لهذه الخدمات يعني التزامك ضمنا بكافة البنود الواردة بهذه الاتفاقية. أما في حالة عدم موافقتك على هذه الشروط والبنود والقيود الواردة بهذا الاتفاق، فهذا يعني أنه من غير المصرح لك باستخدام هذه الخدمات.
               يمكن أيضا تطبيق بنود إضافية على بعض الخدمات، وبحيث يتم تضمينها بهذا الاتفاق والتي تم تضمينها هنا بالإشارة إلى ما هو مطبق، فعلى سبيل المثال، في حال تسجيلك لدينا، ستطبق عليك كافة بنود الاتفاق الخاص بذلك وبالتالي يتم تضمينها بهذا العقد.
               المسئوليات:
               عند تسجيلك و/أو استخدامك للخدمات التي نقدمها، فهذا إقرار منك بالتالي:
                             </p>
                             <ol>
                                 <li>تقر بأن جميع البيانات المدخلة صحيحة وتتحمل صحة المعلومات المدخلة أمام المحاكم في المملكة العربية السعودية</li>
                                 <li>سداد رسوم اختيار الكتاب للترجمة وقدرها (١٠٠) مئة ريال.</li>
                                    <li>تقر بأن ترجمتك توافق قواعد الأمانة العلمية والدقة الفكرية واللغوية والبنية الأدبية والفنية. وأن تم اختيار الكتاب لترجمته ذلك لإلمام بالموضوع المطروح.</li>
                                        <li>تقر بأنه سيسلم الكتاب المذكور أعلاه في نسخة إلكترونية وفي صيغة نهائية مدققة ومراجعه نهائياً وصالحة للطباعة وفي المواعيد المتفق عليها وتتحمل أي نتائج بسبب هذا التأخير.</li>
                                            <li>يتحمل المترجم كامل المسؤولية أمام الناشر الأجنبي الأصلي كما أمام المحاكم المحلية بخصوص أمانة الترجمة ومضمون الكتاب.</li>
                                                <li>تلتزم بقراءة نسخة الإخراج النهائي للطباعة مرة واحدة إذا طلب منه واعتمادها وذلك تحاشيا لأي خطأ.</li>
                                                    <li>تلتزم بذكر اسم الدار إذا تم نيل جائزة تسند إليه عن ترجمة الكتاب الذي تم الموافقة على ترجمته ويذكر ذلك بشكل صريح في اللقاءات الإعلامية وفي خطاباته بمناسبة تسلمه الجائزة.</li>
                                                        <li>لا يمكنك عرض الترجمة كليا أو جزئيا على أي جهة أخرى كما لا يمكنه عرضها كليا أو جزئياً للنشر سواء بوسائل النشر المعروفة كما في الوسائل السمعية والبصرية والرقمية والورقية.</li>
                                                            <li>يتعهد بإخطار دار النشر إذا ما قد نشر ترجمته النص الأصلي باللغة العربية في الإنترنت أو في أي وسيلة من وسائل الإعلام المرئي والمقروء، أو في أي دار نشر أخرى. كما يلتزم المترجم بإخطار دار النشر في حال وجد خلال ترجمته أن المحتوى يتضمن بعض الملاحظات أو المحاذير الاجتماعية أو الدينية أو السياسية التي قد تتعارض مع أعراف وأنظمة النشر العامة في الدول العربية والخاصة في المملكة العربية السعودية.</li>
                                                                <li>تلتزم بالتعاون بروح التفاهم المتبادل والنوايا الحسنة</li>
                                                                    <li>تلتزم بتخزين وحفظ الترجمة حتى إرسالها للدار بصورتها النهائية كما يلتزم بعدم إرسالها أو تداولها مع أي جهة آخرى.</li>
                                                                        <li>تقر بالالتزام والاحتفاظ على سرية المعلومات المتبادلة وعدم إفشاء المعلومات والبيانات.</li>
                                                                            <li>- تقر بالالتزام بالتواصل مع العميل داخل منصة ناشر ولا يسمح بالتواصل مع العميل خارج الموقع الإلكتروني.</li>

                                                                        </ol>
           {% else %}
                       <h4 class="green-khieer mb-2 mt-5">Terms of Services Agreement </h4>
              <p class="text-lead blue-khieer">
                This agreement represents a contract between Naashr and is later referred to as " Naashr " - who we are - or us or ours) and is later referred to as "translator", "you" or "your own".
                This agreement contains the general terms and conditions under which you use the products and services provided by Naashr and the website (generally referred to as "services").
               Your use of these services implies your commitment to all the terms of this agreement. If you do not agree to these terms, terms and conditions of this agreement, you are not authorized to use these services.
               Additional terms can also be applied to certain services, so that they are included in this agreement, which are included here by reference to what is in place, for example, if you register with us, all terms of the agreement will apply to you and therefore be included in this contract.
               Responsibilities:
                             </p>
                             <ol>
                                <li>Recognizes that all the data entered are correct and bear the validity of the information entered before the courts in Saudi Arabia.</li>
                                    <li>Pay the book selection fee for translation and the amount (100) riyals.</li>
                                        <li>Recognizes that your translation conforms to the rules of scientific honesty, intellectual and linguistic accuracy and literary and artistic structure.</li>
                                            <li>Recognizes that the above-mentioned book will be delivered in an electronic copy, in a final, audited and final version, valid for printing and on agreed dates, and any results will be borne because of this delay.</li>
                                                <li>The translator bears full responsibility before the original foreign publisher as well as before the local courts for the secretariat of translation and the content of the book</li>
                                                    <li>You are obliged to read the final output copy of the print once if requested and approved in order to avoid any error.</li>
                                                        <li>You are obliged to mention the name of the house if an award is awarded for the translation of the book, which has been approved for translation and is explicitly mentioned in media meetings and in speeches on the occasion of receiving the award.</li>
                                                            <li>You can view the translation in whole or in part on any other party and cannot view it in whole or in part for publication, either by well-known means of publishing, as well as in audio-visual, digital and paper.</li>
                                                                <li>Undertakes to notify the publishing house if its translation of the original text in Arabic is published on the Internet, in any visual and readable media, or in any other publishing house. The translator is also obliged to notify the publishing house if, during its translation, the content contains certain social, religious or political observations or caveats that may conflict with public and publishing norms and regulations in the Arab and private States of Saudi Arabia.</li>
                                                                    <li>Committed to cooperation in a spirit of mutual understanding and good will.</li>
                                                                        <li>It is obliged to store and store the translation until it is sent to the home in its final form and is obliged not to send it or trade it with any other party.</li>
                                                                            <li>It is obliged to store and store the translation until it is sent to the home in its final form and is obliged not to send it or trade it with any other party.</li>
                                                                                <li>Recognizes the obligation to maintain the confidentiality of mutual information and not to disclose information and data.</li>
                                                                                    <li>Recognizes the obligation to communicate with the client within Naashr Web-site and does not allow for off-site communication. </li>

                            </ol>
                {% endif %}
            </div>
          </div>
        </div>
      </div>

        <div class="row pt-3">
                    <div class="col-lg-12  mb-lg-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-lg-6 pt-lg-6">
                            <div class="d-flex flex-column h-100">
                                    {% if LANGUAGE_CODE == 'ar' %}
                                <h3 class="mb-1 pt-2 green-khieer text-bold">شروط الفواتير والسداد:</h3>
                                 <h6>السداد:</h6>
                                <p class="blue-khieer">
                                    من مسئولياتك التأكد من سريان البيانات المتعلقة بمعلومات السداد الخاصة بك، وكذلك التأكد من أن كافة الفواتير تم سدادها في الوقت المحدد. يجب عليك الموافقة على سداد رسوم الخدمات مقدما.
                                    يتم اشعارك بصدور فاتورة جديدة، يجب سداد كافة الفواتير خلال هذه الفترة. يؤدي تأخير سداد الفاتورة إلى تعليق أو فصل الخدمة. لن تتمكن من تفعيل الخدمة ما لم يتم سداد المبالغ المستحقة على الفواتير. في حال عدم سداد الرسوم الواردة بهذا الاتفاق، فسنضطر إلى تعليق أو الغاء حسابك واتخاذ الإجراءات اللازمة لتحصيل المبالغ المستحقة بما في ذلك – وعلى سبيل المثال -اللجوء الى الجهات القانونية والقضائية. علما بأن ناشر لن تتعامل مع أي طلبات بفتح خدمات جديدة للعملاء الذين لم يسددوا ما عليهم من رسوم خدمات بحساباتهم.
                                    
                                </p>
                                <h6> سداد مستحقات الخدمات :</h6>
                                <p class="blue-khieer">
                                    يتم إرسال إشعارات كتذكير تشجيعي لذلك فإن ناشر غير مسؤولة عن أي إيقاف لأي مشروع ترجمة أو إيقاف طلب الخدمة، يتم ارسال الفواتير لسداد مستحقات المترجم خلال (٧ أيام) من تاريخ طلب الدفعة المستحقة.                                    
                                </p>
                          {% else %}
                           <h3 class="mb-1 pt-2 green-khieer text-bold">Terms of invoices and payments:</h3>
                            <h6>Payment: </h6>
                                <p class="blue-khieer">
                                    It is your responsibility to ensure that data on your payment information is valid, as well as to ensure that all invoices are paid on time. You must agree to pay the service fee in advance.
                                    You are notified of a new invoice; all invoices must be paid during this period. Delaying the payment of the invoice causes the service to be suspended or disconnected. You will not be able to activate the service unless the amounts due on the invoices are paid. If the fees contained in this agreement are not paid, we will have to suspend or cancel your account and take the necessary measures to collect the amounts due, including, for example, recourse to the legal and judicial authorities. A publisher will not deal with any requests to open new services to customers who have not paid their service fees in their accounts
                                                                    </p>
                                <h6> Payment of service dues </h6>
                                <p class="blue-khieer">
                                    Notifications are sent as an incentive reminder so a publisher is not responsible for any suspension of any translation project or suspension of the service request, invoices are sent to pay the translator's dues within (7 days) of the date of the due payment request.                                </p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
                            <div class="border-radius-lg h-100">
                                <div class="position-relative d-flex align-items-center justify-content-center h-100">
                                    <img class="w-100 position-relative z-index-2 pt-4"
                                         src="{% static 'assets/img/logo.png' %}" alt="rocket">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
        <div class="row pt-1">
                                            <div class="col-lg-12  mb-lg-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-lg-6 pt-lg-6">
                            <div class="d-flex flex-column h-100">
                                    {% if LANGUAGE_CODE == 'ar' %}
                                <h3 class="mb-1 pt-2 green-khieer text-bold"> حسم الخلافات التي تنشأ بصدد الفواتير </h3>
                                <p class="blue-khieer">
                                    في حال نشأ أي خلاف يتعلق بأي مطالبات مالية أو مبالغ من قبل ناشر أو أي استفسار يتعلق بهذه المطالبات أو المبالغ المتعلقة بحسابك يجب أن يكون ذلك خلال فترة أقصاها (03 يوما).
                                    المنتجات والخدمات التي لا يمكن استرجاع قيمتها
                                    لا يمكن استرجاع قيمة رسوم الخدمات التي تم إنجازها بالفعل.
                                    إنهاء الخدمات
                                    يحق لناشر إلغاء الخدمات سواء بشكل جزئي أو كلي ودون اخطار منا لك وذلك في الحالات التالية
                                      في حال عدم سدادك أي رسوم متأخرة
                                                                    </p>
                                                                    <h6>تغير الأسعار </h6>
                                                                    <p class="blue-khieer">
                                                                        تحتفظ ناشر بحقها في تغيير أسعار أو أي رسوم مفروضة في أي وقت. سيتم تزويدكم بأي تغيير يطرأ على السعر سواء كان ذلك كخطط سنوية أو بعيدة المدى وذلك خلال فترة اشعار أقصاها (30) يوما وذلك قبل فرض الأسعار الجديدة عليك. يتعين عليك متابعة المعلومات التي توجد بنظام الفواتير الخاص بك بشكل دوري عبر طرق التواصل بما في ذلك الإشعارات التي يتم إرسالها أو التي يتم إعلانها بواسطة ناشر.
                                                                    </p>
                                {% else %}
                             <h3 class="mb-1 pt-2 green-khieer text-bold">Resolving disputes arising in relation to invoices</h3>
                                        <p class="blue-khieer"> In the event of any dispute relating to any financial claims or amounts by a publisher or any inquiry relating to these claims or amounts relating to your account, this must be within a maximum period (30 days).
                                            Products and services that cannot be refunded
                                            Service charges that have already been completed cannot be refunded.
                                            Termination of services
                                            Naashr has the right to cancel the services either partially or completely and without notifying you in the following cases
                                            If you don't pay any late fees
                                            You do not comply with the terms and conditions of this agreement or violate any of them.
                                            You do not comply with the terms and conditions of the required services.
                                            In the event of any action that would harm us or involve any other party in taking any responsibility of any kind, whether financial, procedural or otherwise, at the discretion of Naashr.
                                            Accordingly, unless otherwise provided for by this agreement, we are entitled to terminate the services without having the right to recover any fees paid by you to Naashr, requiring you to pay all fees and financial claims arising from these services prior to this termination period, and Naashr reserves the full right to pay all fees, financial claims and service ratios for the remainder of the service period.
                                            </p>
                                        <h6> Price change</h6>
                                        <p class="blue-khieer">
                                            Naashr reserves the right to change prices or any fees charged at any time. You will be provided with any change in price, whether as an annual or long-term plan, within a maximum notice period of (30) days before the new rates are charged to you. You should follow information on your billing system periodically through communication methods, including notifications that are sent or advertised by Naashr.
                                        </p>
                                        {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
                            <div class="border-radius-lg h-100">
                                <div class="position-relative d-flex align-items-center justify-content-center h-100">
                                    <img class="w-100 position-relative z-index-2 pt-4"
                                         src="{% static 'assets/img/logo.png' %}" alt="rocket">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>


    </div>
  </section>


{% endblock content %}