{% load static %}
<section id="about" class="about">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 aos-init aos-animate" data-aos="zoom-in">
                <img src="{% static 'assets/img/logo5.jpeg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 d-flex flex-column justify-contents-center aos-init aos-animate" data-aos="fade-left">
                <div class="content pt-4 pt-lg-0">
                    {% if LANGUAGE_CODE == 'ar' %}
                        <h3>اعلان الكتب</h3>
                        <p class="fst-italic">
                            الخدمات مقدمة من أعضاء الموقع وليس موظفين لدى ناشر للترجمة
                        </p>
                        <h5 class="fst-italic">
                             شروط ترجمة الكتب </h5>
                    {% else %}
                        <h3>Book advertisement</h3>
                        <p class="fst-italic">
                            Services provided by site members and not staff of a translation publisher
                        </p>
                        <h5 class="fst-italic">
                             Book translation terms </h5>
                    {% endif %}
                    {% if LANGUAGE_CODE == 'ar' %}
                        <ul>
                            <li><i class="bi bi-check-circle"></i> فهو يمتلك حقوق التأليف والنشر للترجمة للكتاب المدرج
                                ولا يتحمل ناشر للتسويق الإلكتروني-ناشر للترجمة المسؤولية الكاملة أمام الناشر الأصلي كما
                                أمام المحاكم المحلية بخصوص حقوق التأليف والنشر للترجمة
                            </li>
                            <li><i class="bi bi-check-circle"></i> يتحمل صحة جميع البيانات المدخلة أمام المحاكم في
                                المملكة العربية السعودية
                            </li>
                            <li><i class="bi bi-check-circle"></i> يلتزم بعدم إضافة محتوى يتضمن بعض الملاحظات أو
                                المحاذير الاجتماعية أو الدينية أو السياسية التي قد تتعارض مع أعراف وأنظمة النشر في الدول
                                العربية عامة وفي المملكة العربية السعودية خاصة
                            </li>
                            <li><i class="bi bi-check-circle"></i> وكذلك أي إيحاءات أو صور أو رسومات مخالفة. وإذا تم
                                مخالفة ذلك سيتم إيقاف العضو ولن يتم استرداد أي مبالغ مالية
                                ناشر للتسويق الإلكتروني لا يتحمل أي مسؤولية أمام المحاكم في المملكة العربية السعودية عن
                                جودة الترجمة المقدمة من المترجم
                            </li>
                            <li><i class="bi bi-check-circle"></i>إذا تم اختيار الكتاب للترجمة يتعهد ويقر بتسديد أجرة
                                المترجم كاملة في المدة الزمنية المحددة لانتهاء الكتاب المراد ترجمته
                            </li>
                            <li><i class="bi bi-check-circle"></i>يتعهد بتحديد أجرة المترجم كاملة ومدة الانتهاء من العمل
                                واختيار لغة العمل المراد الترجمة إليها بما يتوافق مع الأعراف المتداولة بالمهنة
                            </li>

                        </ul>
                        <p>
                            يلتزم الدار بذكر اسم المترجم في الغلاف الخارجي للكتاب (الرفرف) ولا يتحمل ناشر للتسويق
                            الإلكتروني المسؤولية -ناشر للترجمة المسؤولية الكاملة أمام المحاكم في المملكة العربية
                            السعودية
                        </p>
                        <h4>مدة الأنتهاء من المشروع</h4>
                       <ol>
                        <li> شهرين</li>
                        <li> ثلاث أشهر</li>
                        <li> ستة أشهر</li>
                        <li> قد تقل المدة أو تزيد حسب متطلبات العمل</li>
                        </ol>
 <h5>ثالثاً  التكلفة المالية</h5>
</ol>
<li>تكلفة ترجمة الكتاب يتم تحديدها من دار نشر</li>
</ol>



                    {% else %}
<ul>
<li><i class="bi bi-check-circle"></i> It owns the copyright to translate the listed book and Naashr e-marketing-Naashr translation does not have any responsibility from the original publisher as well as Infront of the local courts for the copyright of translation.</li>
<li><i class="bi bi-check-circle"></i>assume the validity of all statements entered before the courts in Saudi Arabia</li>
<li><i class="bi bi-check-circle"></i>Is obliged not to add content containing certain social, religious or political observations or caveats that may conflict with the customs and regulations of publishing in the Arab countries in general and in Saudi Arabia in particular. So are any suggestions, images or graphics. If this is violated, the member will be suspended and no refunds will be made. </li>
<li><i class="bi bi-check-circle"></i>Naashr e-marketing-Naashr translation he has no responsibility in the courts in Saudi Arabia for the quality of translation provided by the translator </li>
<li><i class="bi bi-check-circle"></i>If the book is selected for translation, it undertakes and acknowledges the full payment of the translator's fee within the time limit for the completion of the book to be translated. </li>
<li><i class="bi bi-check-circle"></i>Undertakes to determine the full translator's fee, the duration of the work, and the choice of the language of work to be translated in accordance with the customs in the profession.</li>
<li><i class="bi bi-check-circle"></i>The publishing house is obliged to mention the name of the translator in the outer cover of the book (flap) and the Naashr e-marketing-Naashr translation is not responsible Infront of the local courts in Saudi Arabia.</li>


</ul>
<p>Completion period  </p>
                        <ol>
<li> Two months </li>
<li> Three months. </li>
<li>Six months </li>
<li> Duration may decrease or increase according to business requirements  </li>
</ol>

                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</section>