{% load static %}
<footer class="footer footer-padding">
    <div class="container">
      <div class="row justify-content-center">
        <p class="mb-0 text-secondary text-center">
                                                                 {% if LANGUAGE_CODE == 'ar' %}
طريقة الدفع           {% else %}
           Pays Methods
           {% endif %}
       </p>
         <div class="col-12 text-center  justify-content-center">
          <i class="text-lg fab fa-cc-visa" style="font-size: 40px;"></i>           
          <i class="text-lg fab fa-cc-mastercard"  style="font-size: 40px;"></i> 
         </div>
      </div>
      <div class="row">
        <div class="col-8 mx-auto text-center">
          <p class="mb-0 text-secondary">
             ©
                                                                    {% if LANGUAGE_CODE == 'ar' %}
              ناشر للترجمة
              {% else %}
              Nashr For Translation
              {% endif %}
          </p>
        </div>
      </div>
    </div>
  </footer>