{% load static %}
<footer class="footer footer-padding">
    <div class="container">
      <div class="row justify-content-center">
        <p class="mb-0 text-secondary text-center">
                                                                 {% if LANGUAGE_CODE == 'ar' %}
طريقة الدفع           {% else %}
           Pays Methods
           {% endif %}
       </p>
         <div class="row col-12 text-center  justify-content-center">
           <div class="col-1">
             <img src="{% static 'assets/img/pag/stc_pay.jepg' %}" />
           </div>
           <div class="col-1">
            <img src="{% static 'assets/img/pag/mada.jepg' %}" />
          </div>
          <div class="col-1">
            <img src="{% static 'assets/img/pag/master.jepg' %}" />
          </div>
          <div class="col-1">
            <img src="{% static 'assets/img/pag/visa.jepg' %}" />
          </div>
         </div>
      </div>
      <div class="row">
        <div class="col-8 mx-auto text-center">
          <p class="mb-0 text-secondary">
             ©
                                                                    {% if LANGUAGE_CODE == 'ar' %}
              ناشر للترجمة
              {% else %}
              Nashr For Translation
              {% endif %}
          </p>
        </div>
      </div>
    </div>
  </footer>