    {% if LANGUAGE_CODE == 'ar' %}
<html lang="ar" dir="rtl">
{% else %}
<html lang="en">

{% endif %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
    <head>
      <link
      rel="apple-touch-icon"
      sizes="100x100"
      href="{% static 'assets/img/logo.ico' %}"
    />
    <link
      rel="icon"
      sizes="100x100"
      type="image/png"
      href="{% static 'assets/img/logo.png' %}"
    />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %} Nashr - ناشر  {% endblock title %}</title>
       <!-- Google Fonts -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.css" rel="stylesheet" media="all">
  <script
      src="https://kit.fontawesome.com/42d5adcbca.js"
      crossorigin="anonymous"
    ></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.1/jquery.min.js" integrity="sha512-70zIulG08eo6etLSB0vVIMrmL/WJRr9x7wcboz8vgzTcWjtacWAs3ubJIFA6fG4K8sMu2w182hY+pCgX18JiSQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="{% static 'js/core/bootstrap.min.js' %}"></script>

        {% block style %}

    {%  endblock style %}
    </head>
<body>

{% include 'partials/_UserMenu.html' %}

<main id="main">
  {% block content %}

{% endblock content %}
{% include '_footer.html' %}
</main>
{#{% include 'partials/_mainFooter.html' %}#}
  <a href="https://api.whatsapp.com/send?phone=966531360894" class="go-to-whatsapp d-flex align-items-center justify-content-center"><i class="bi bi-whatsapp"></i></a>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src=" {% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/whatsapp.js' %}"></script>

{% block scripts %}

{% endblock scripts %}
</body>
</html>

