{% extends 'main.html' %}
{% block title %}لوحة التحكم{% endblock title %}
{% block content %}
<div class="row pt-3">
    <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4">
       
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold"> 
                                    {% if LANGUAGE_CODE == 'ar' %}
                                    عدد الكتاب
{% else %}
Number of Books 

{% endif %}
                                    </p>

                            </div>
                        </div>
                        <div class="col-4 text-start">
                            <div class="icon icon-shape bg-maal shadow text-center text-white border-radius-md">
                               {{ request.user.books.all.count }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>



{% endblock content %}